		body{
			/*background-attachment: fixed;
			background-image: url("../images/bg.jpg");*/
			background: -moz-linear-gradient(center top , #92C7C7, #307D7E) repeat scroll 0 0 transparent;
			background: -webkit-gradient(linear, center top, center bottom, from(#92C7C7), to(#307D7E));
			font-family: Arial,Helvetica,sans-serif;
			font-size: 12px;
			color:#382D2C;
		}
		div#body{
			width:1000px;
			margin:auto;
		}
		div#header{
			width:100%;
		}
		ul.ul-menu{
			list-style-type:none;
			width:100%;
			border:0px solid #000000;
			white-space: nowrap;
		}
		ul.ul-menu li a:hover{
			text-transform:none;
		}
		ul.ul-menu li a{
			color:#000;
		}
		ul.ul-menu.five li{
			width: 18%;
		}
		ul.ul-menu.six li{
			width: 15%;
		}
		ul.ul-menu.three li{
			width: 30%;
		}
		ul.ul-menu li{
			width: 22%;
			display: inline-block;
			text-align:center;
			font-size:15px;
			font-weight:bolder;
			color:#000;
		}
		nav#sidebar{
			float:left;
			width:25%;
			border: 1px solid transparent;
			margin: 0 5px 5px 0;
			padding: 1px;
		}
		div#content{
			float:right;
			width:70%;
			border: 1px solid #0066FF;
			margin: 0 5px 5px 0;
			padding: 10px;
		}
		div#sidebar-title{
			background-color:#0066FF;
		}
		nav#sidebar .box{
			margin-bottom:10px;
		}
		footer{
			width:100%;
			margin:auto;
			text-align: center;
			clear:both;
		}
		table tbody tr:nth-child(even){
			background: none repeat scroll 0 0 #DFDFDF;
		}
		table tbody tr:nth-child(odd){
			background: none repeat scroll 0 0 #FFFFFF;
		}
		dl dt{
			background: none repeat scroll 0 0 #DFDFDF;
		}